<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:[port]/[dbname]</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">[username]</property>
        <property name="hibernate.connection.password">[password]</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <mapping resource="mapping/DesignersGroup.nhb.xml"/>
        <mapping resource="mapping/Warehouse.nhb.xml"/>
        <mapping resource="mapping/Detail.nhb.xml"/>
        <mapping resource="mapping/Designer.nhb.xml"/>
        <mapping resource="mapping/Factory.nhb.xml"/>
    </session-factory>
</hibernate-configuration>