<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bobin - ${model.title}</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="css/ripples.min.css" rel="stylesheet">
    <link href="css/my-styles.css" rel="stylesheet">
    <script src="js/jquery-3.1.1.js"></script>
  </head>
  <body>
    <nav role="navigation" class="navbar navbar-green navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index.html">Laboratory 3</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav">
            <li class="${model.indexActiveClass}"><a href="./index.html">О себе</a></li>
            <li class="${model.individualActiveClass}"><a href="./individual.html">Индивидульное задание</a></li>
            <li class="${model.tablesActiveClass}"><a href="./tables.html">Просмотр таблиц</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container body-content">
      ${model.content}
      <footer>
        <p>&copy; 2016 - Bobin</p>
      </footer>
    </div>
    
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ripples.min.js"></script>
    <script src="js/material.min.js"></script>
  </body>
</html>